@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

$primary-accent-color: #0996B2;
$secondary-accent-color: #09B27A;
$warning-color: #EB4747;

$accent-gradient: linear-gradient(90deg, $primary-accent-color 0%, $secondary-accent-color 100%);

$page-color: #F3F6F6;
$block-color: #FFF;
$disabled-block-color: #FAFAFA;
$event-color: #FAFAFA;
$light-accent-color: #F6F8F8;
$border-color: #EBEBEB;
$light-accent-border-color: #E8EDEE;

$light-button-color: #F5F5F5;
$light-active-button-color: #E6E6E6;
$disabled-button-color: #C8C8C8;

$scrollbar-thumb-color: #E6E6E6;
$scrollbar-track-color: #FAFAFA;

$overlay-color: rgba(80, 80, 80, 0.5);

$icon-color: #3C3C3C;
$light-transparent-icon-color: rgba(255, 255, 255, 0.75);

$text-color: #0A0A0A;
$secondary-text-color: #505050;
$light-text-color: #FFFFFF;

$notification-badge-font: 500 10px/14px 'Roboto';
$h1-font: 400 24px/32px 'Roboto';
$category-font: 400 16px/24px 'Roboto';
$paragraph-font: 300 16px/24px 'Roboto';
$string-font: 300 16px/16px 'Roboto';
$metadata-font: 300 14px/18px 'Roboto';
$regular-metadata-font: 400 14px/18px 'Roboto';
$button-font: 300 14px/14px 'Roboto';

$block-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
$modal-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);

body {
	margin: 0;
	padding: 0;
	background-color: $page-color;
	// background: linear-gradient(0deg, rgba(243, 246, 246, 0.5), rgba(243, 246, 246, 0.5)), url('../img/background.jpg');
	background-size: cover;
	min-width: 400px;
}

h1, h2, h3, h4, h5, h6,
p, a, ul {
	margin: 0;
	color: $text-color;
}

h1 {
	font: $h1-font;
}

p {
	font: $paragraph-font;
}

a {
	width: fit-content;
	font: $paragraph-font;
	text-decoration: none;
	transition: color 0.5s;

	&:hover {
		color: $primary-accent-color;
	}
}

i {
	color: $icon-color;
}

ul {
	padding-left: 20px;
}

table {
	border-collapse: collapse; 
}

hr {
    border-top: 1px solid #EBEBEB;
    border-bottom: none;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	transition: background-color 0.5s;
	border: none;
	outline: none;
	cursor: pointer;
	font: $button-font;
	user-select: none;
}

.icon-button {
	width: 25px;
	height: 25px;
}

.text-button {
	height: 35px;
	padding: 10px 20px;
	box-sizing: border-box;
}

.light-button {
	@extend .button;
	background-color: $light-button-color;
	color: $text-color;

	&:hover {
		background-color: $light-active-button-color;
		color: $text-color;
	}
}

.primary-button {
	@extend .button;
	background-color: $primary-accent-color;

	&, i {
		color: $light-text-color;
	}

	&:hover {
		background-color: $secondary-accent-color;
		color: $light-text-color;
	}
}

.light-icon-button {
	@extend .light-button;
	@extend .icon-button;
}

.light-text-button {
	@extend .light-button;
	@extend .text-button;
}

.primary-text-button {
	@extend .primary-button;
	@extend .text-button;
}

.primary-icon-button {
	@extend .primary-button;
	@extend .icon-button;
}

.wrapper {
	max-width: 1280px;
	padding-left: 30px;
	padding-right: 30px;
	margin: 0 auto;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	list-style: none;
	padding: 10px 0;
	display: none;
	flex-direction: column;
	gap: 5px;
	background-color: $block-color;
	border-radius: 4px;
	box-shadow: $modal-shadow;
	user-select: none;
	z-index: 1;

	&.show {
		display: flex;
	}

	a {
		display: block;
		width: 100%;
		box-sizing: border-box;
		padding: 5px 20px;
		text-wrap: nowrap;
		text-decoration: none;
		transition: background-color 0.5s;

		&:hover {
			background-color: $light-accent-color;
			color: $text-color;
		}
	}

	hr {
		margin: 5px 20px;
	}
}

.badge {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: -5px;
	margin-right: -7px;
	background-color: $primary-accent-color;
	color: $light-text-color;
	padding: 0 4px;
	border-radius: 7px;
	font: $notification-badge-font;
}

.logo {
	line-height: 0;

	img {
		width: auto;
		height: 30px;
	}
}

header {
	width: 100%;
	position: fixed;
	background-color: $block-color;
	box-shadow: $block-shadow;
	z-index: 1;

	.wrapper {
		height: 50px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 25px;
	}

	.menu-toggle {
		padding: 0;
		border: none;
		background: none;
		cursor: pointer;
		position: relative;
		font-size: 20px;
	}

	.dropdown-menu {
		margin-top: 20px;
	}

	.navigation {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 25px;
		position: relative;

		#main-menu-toggle {
			font-size: 24px;
		}
	}

	.user {
		display: flex;
		gap: 10px;
		align-items: center;
		position: relative;

		.photo {
			width: 30px;
			height: 30px;
			background-position: center;
			background-size: cover;
			border-radius: 4px;
		}

		#user-menu-toggle {
			font-size: 16px;
		}    
	}

	#user-menu {
		right: 0;

		.info {
			padding: 5px 20px;
		}

		.username {
			font: $category-font;
			margin-bottom: 5px;
		}

		.account {
			font: $metadata-font;

			i {
				color: $secondary-accent-color;
				background: $accent-gradient;
				background-clip: unset;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}

			span {
				font: $regular-metadata-font;
			}
		}
	}
}

main {
	padding-top: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 10px;
}

.page {
	min-height: calc(100vh - 60px);
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.sidebar, .topic-menu, .page-selector {
	::-webkit-scrollbar {
		width: 8px;
	}
	
	::-webkit-scrollbar-track {
		background-color: $scrollbar-track-color;
		border-radius: 4px;
	}
	
	::-webkit-scrollbar-thumb {
		background: $scrollbar-thumb-color;
		border-radius: 4px;
	}
}

.sidebar {
	width: 360px;

	.content {
		width: 360px;
		box-sizing: border-box;
		padding: 20px;
		border-radius: 4px 4px 0 0;
		height: calc(100vh - 60px);
		background-color: $block-color;
		box-shadow: $block-shadow;
		position: fixed;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.events {
		display: flex;
		flex-direction: column;
		gap: 5px;
		min-height: 100px;
		overflow-y: auto;
		padding-right: 5px;
	}

	.event {
		border-radius: 4px;
		padding: 10px;
		display: flex;
		gap: 10px;
		align-items: center;

		.photo, .icon {
			width: 35px;
			height: 35px;
			border-radius: 4px;
		}

		.photo {
			background-size: cover;
			background-position: center;
			flex-shrink: 0;
		}

		.icon {
			background-color: $overlay-color;
			display: flex;
			justify-content: center;
			align-items: center;

			i {
				font-size: 18px;
				color: $light-transparent-icon-color;
			}
		}

		.info {
			display: flex;
			flex-direction: column;
			gap: 5px;

			a {
				font: $metadata-font;

				&.user {
					color: $secondary-text-color;

					&:hover {
						color: $primary-accent-color;
					}
				}
			}
		}

		&.event-answer {
			background-color: $event-color;

			.icon {
				display: none;
			}
		}

		&.event-vote {
			background-color: $light-accent-color;
		}
	}

	.ad-placeholder:last-child {
		margin-top: auto;
	}
}

.block {
	border-radius: 4px;
	box-shadow: $block-shadow;
	background-color: $block-color;
}

.ad-placeholder {
	background-color: $light-accent-color;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		height: 30px;
		filter: brightness(1.5) saturate(0);
	}

	&.ad-small {
		height: 100px;
		min-height: 100px;
	}

	&.ad-long {
		height: 70px;
		margin: 20px;
	}

	&.ad-medium {
		height: 275px;
		min-height: 275px;
	}
}

.welcome-menu {
	display: flex;
	gap: 40px;

	.column {
		display: flex;
		flex-direction: column;
		gap: 10px;
		flex: 1
	}

	.title {
		margin: 0;
		font: $category-font;
	}
}

.welcome {
	@extend .block;

	.header {
		border-radius: 4px 4px 0 0;
		background: $accent-gradient;
		padding: 15px 20px;
		color: $light-text-color;
		margin: 0;
	}

	.welcome-menu {
		padding: 20px;
	}
}

.topics-table {
	@extend .block;

	.header {
		display: flex;
		justify-content: end;
		background-color: $disabled-block-color;

		div {
			padding: 15px 20px;
			font: $string-font;
			box-sizing: border-box;
		}
	}
	
	.category {
		padding: 15px 20px;
		background: $accent-gradient;
		color: $light-text-color;
		text-align: left;
		font: $paragraph-font;
	}

	.category + .topic {
		border-top: none;
	}

	.topic {
		border-top: 1px solid $border-color;
		display: flex;

		.info, .counter, .last-answer {
			padding: 20px;
		}

		.counter, .last-answer a {
			font: $metadata-font;
		}

		.counter, .last-answer {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border-left: 1px solid $border-color;

			.details {
				display: none;
			}
		}
	}

	.info {
		display: flex;
		flex-direction: column;
		gap: 10px;
		flex: 1;

		a.title {
			font: $category-font;
		}
	}

	.counter {
		width: 100px;
		text-align: center;
		box-sizing: border-box;
	}

	.last-answer {
		width: 125px;
		box-sizing: border-box;
	}

	.last-answer a {
		display: block;

		&.time {
			vertical-align: baseline;
			margin-top: 5px;
		}

		i {
			transition: color 0.5s;
		}

		&:hover i {
			color: $primary-accent-color;
		}
	}

	p {
		color: $secondary-text-color;

		&.warning {
			color: $warning-color;
		}
	}

	.brand-logo {
		height: 45px;
	}
}

.summary {
	@extend .block;

	.header {
		padding: 15px 20px;
		display: flex;
		justify-content: space-between;
		gap: 15px;
		border-bottom: 1px solid $border-color;
	}

	.content {
		padding: 20px;
		display: flex;
		flex-direction: column;
		gap: 10px;

		a {
			color: $secondary-text-color;
			transition: color 0.5s;

			&.friend {
				color: $secondary-accent-color;
			}

			&:hover {
				font: $category-font;
			}
		}

		.row {
			display: flex;
			gap: 10px;

			.column {
				display: flex;
				flex-direction: column;
				gap: 10px;
				flex: 1;
			}
		}

		.details {
			color: $secondary-text-color;
		}
	}
}

.away {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $block-color;
	box-sizing: border-box;	
	padding: 30px;

	.logo img {
		height: 45px;
	}

	.content {
		max-width: 700px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
	}

	p a {
		text-decoration: underline;
		word-break: break-all;
	}

	.buttons {
		display: flex;
		gap: 10px;
	}
}

footer {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	background: $accent-gradient;
	border-radius: 4px 4px 0 0;
	margin-top: auto;
	box-shadow: $block-shadow;

	.welcome-menu a:hover {
		font: $category-font;
	}

	.logo img {
		filter: saturate(0) brightness(2);
	}

	p, a {
		color: $light-text-color;
	}

	a:hover {
		color: $light-text-color;
	}

	.copyright {
		margin: 0;
	}
}

.breadcrumbs {
	@extend .block;
	padding: 15px 20px;

	&, div {
		font-size: 0;
	}

	div, p {
		display: inline-block;
	}

	p, a {	
		font: $string-font;
		line-height: 25px;
	}

	a, i {
		color: $secondary-text-color;
	}

	a:hover {
		color: $primary-accent-color;
	}

	i {
		font-size: 14px;
		margin: 0 5px;
	}
}

.topic-menu {
	@extend .block;

	.header {
		padding: 15px 20px;
		display: flex;
		justify-content: space-between;
		gap: 15px;
	}

	ul {
		list-style: none;
		padding: 0;
		max-height: 230px;
		overflow-y: auto;
		display: none;

		li {
			padding: 10px 20px;
			display: flex;
			justify-content: space-between;
			gap: 15px;
			border-top: 1px solid $border-color;
		}

		&.show {
			display: block;
		}
	}
}

.topic-management {
	@extend .block;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	gap: 10px;

	.navigation, .actions {
		display: flex;
		gap: 10px;
	}

	.light-icon-button, .primary-icon-button {
		width: 35px;
		height: 35px;
		font-size: 16px;
	}

	.page-selector {
		position: relative;
	}

	.page-menu-toggle {
		@extend .primary-icon-button;
		box-sizing: border-box;
		width: auto;
		height: 35px;
		padding: 10px;
		gap: 10px;

		&:active .pages {
			display: block;
		}
	}

	.page-menu {
		left: 0;
		margin-top: 10px;
		padding: 0;
		gap: 0;
		max-height: 174px;
		overflow-y: auto;

		li:not(:last-child) {
			border-bottom: 1px solid $border-color;
		}
	}
}

.answer {
	@extend .block;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;

	.header {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid $border-color;

		.author {
			display: flex;
			gap: 15px;
		}

		.photo {
			width: 75px;
			height: 75px;
			border-radius: 4px;
			background-size: cover;
			background-position: center;
		}

		.info {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		.username {
			font: $string-font;

			.online {
				display: inline-block;
				width: 10px;
				height: 10px;
				border-radius: 5px;
				background-color: $secondary-accent-color;
				margin-right: 5px;
			}
		}

		.icons {
			display: flex;
			gap: 5px;

			.icon {
				width: 25px;
				height: 25px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 4px;

				i {
					color: $light-text-color;
				}

				&.primary-icon {
					background-color: $primary-accent-color;
				}

				&.secondary-icon {
					background-color: $secondary-accent-color;
				}

				&.gradient-icon {
					background: $accent-gradient;
				}

				&.disabled-icon {
					background-color: $disabled-button-color;
				}
			}
		}

		.metrics {
			display: flex;
			gap: 10px;

			p {
				white-space: nowrap;
			}

			p, i {
				font: $metadata-font;
				color: $secondary-text-color;
			}

			p i {
				margin-right: 5px;
			}
		}

		.answer-info {
			display: flex;
			flex-direction: column;
			align-items: end;
			gap: 5px;
			font: $metadata-font;

			div {
				white-space: nowrap;
			}

			i {
				margin-left: 5px;
			}

			.answer-id {
				font: $metadata-font;
				color: $secondary-text-color;

				&:hover {
					color: $primary-accent-color;
				}
			}
		}
	}

	.content {
		.reply {
			padding: 15px;
			background-color: $light-accent-color;
			border-radius: 4px;
			border-left: 5px solid $light-accent-border-color;
		}

		.author {
			display: block;
			text-decoration: underline;
			color: $text-color;

			&:hover {
				color: $primary-accent-color;
			}
		}
	}

	.signature {
		padding-top: 20px;
		border-top: 1px solid $border-color;
		opacity: 75%;
	}

	.content, .signature {
		.reply, p {
			&:not(:first-child) {
				margin-top: 15px;
			}

			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}

		.image {
			width: 160px;
			height: 120px;
			border-radius: 4px;
			background-size: cover;
			background-position: center;
			display: inline-block;
			flex-flow: row;
			margin-right: 5px;
			cursor: pointer;
		}

		a {
			color: $primary-accent-color;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.footer {
		padding-top: 20px;
		border-top: 1px solid $border-color;

		.actions {
			display: flex;
			justify-content: space-between;
			gap: 20px;
		}

		.buttons {
			display: flex;
			gap: 10px;

			.light-icon-button {
				width: 35px;
				height: 35px;
				font-size: 20px;
			}

			.counter-button {
				@extend .light-text-button;
				height: 35px;
				gap: 10px;
				padding: 0 10px;

				.fill-icon {
					display: none;
				}

				&.selected {
					background-color: $primary-accent-color;
					color: $light-text-color;

					i {
						color: $light-text-color;
					}
				
					&:hover {
						background-color: $primary-accent-color;
					}

					.fill-icon {
						display: block;
					}

					.simple-icon {
						display: none;
					}
				}
			}
		}

		.likes {
			font-size: 0;
			margin-top: 10px;

			p, a {
				display: inline;
				font: $metadata-font;
			}

			.hidden-likes {
				display: none;

				&.show {
					display: inline;
				}
			}
		}
	}
}

.related-topics {
	@extend .block;
	padding: 20px;

	.content {
		margin-top: 15px;
		display: flex;
		gap: 10px;

		.topics {
			flex: 1;
		}

		.topic {
			border-radius: 4px;
			background-color: $light-accent-color;
			padding: 20px;

			.info {
				color: $secondary-text-color;
				margin-top: 5px;

				&, a {
					font: $metadata-font;
				}
			}

			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}

		.ad-placeholder {
			width: 200px;
		}
	}
}

@media only screen and (max-width: 1080px) {
	header .wrapper, main.wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}

	.welcome .header,
	.topics-table .category,
	.summray .header,
	.breadcrumbs, 
	.topic-management,
	.topic-menu .header,
	.topic-menu ul li {
		padding: 10px 15px;
	}

	.welcome .welcome-menu,
	.related-topics {
		padding: 15px;
	}

	.welcome-menu {
		flex-direction: column;
		gap: 15px;

		.column {
			display: block;
			font-size: 0;

			a:not(:last-child) {
				margin-right: 10px;
			}
		}
		
		.title {
			display: block;
		}

		a {
			display: inline-block;
		}
	}

	.block .welcome-menu {
		a:not(:last-child) {
			margin-right: 5px;
		}

		a {
			padding: 5px 10px;
			background-color: $light-accent-color;
			border-radius: 4px;
			margin-top: 5px;
			transition: background-color 0.5s;
			font: $metadata-font;

			&:hover {
				background-color: $light-active-button-color;
				color: $text-color;
			}
		}
	}

	.ad-placeholder.ad-long {
		margin: 15px;
	}

	.topics-table {
		.header {
			display: none;
		}

		.topic {
			flex-direction: column;
			padding: 15px;

			.info {
				gap: 5px;

				&:not(:last-child) {
					margin-bottom: 5px;
				}
			}

			.info, .counter, .last-answer {
				padding: 0;
				border-left: none;
				width: fit-content;
			}

			.counter, .last-answer {
				flex-direction: row;
				margin-top: 5px;
				color: $secondary-text-color;
				font: $metadata-font;

				.details {
					display: inline;
				}
			}

			.last-answer {
				.time {
					margin-top: 0;
				}

				i {
					display: none;
				}
			}
		}
	}

	.summary .content {
		padding: 15px;
		gap: 5px;
		
		.row {
			flex-direction: column;
			gap: 5px;

			.column {
				gap: 5px;
			}
		}
	}

	.answer {
		padding: 15px;
		gap: 15px;

		.header {
			gap: 15px;
			padding-bottom: 15px;
		}

		.signature, .footer {
			padding-top: 15px;
		}
	}

	.related-topics .content {
		margin-top: 10px;

		.topic {
			padding: 15px;
		}
	}

	footer {
		padding: 15px;
		gap: 15px;
	}
}

@media screen and (max-width: 900px) {
	header .wrapper, main.wrapper {
		padding-left: 10px;
		padding-right: 10px;
	}

	.sidebar {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.answer {
		.header {
			flex-direction: column-reverse;

			.photo {
				width: 50px;
				height: 50px;
			}

			.answer-info {
				padding-bottom: 15px;
				border-bottom: 1px solid $border-color;
				flex-direction: row-reverse;
				justify-content: space-between;
			}

			.metrics {
				margin-left: -65px;
			}
		}

		.content, .signature {
			.image {
				width: 100px;
				height: 75px;
			}
		}
	}

	.related-topics .content .ad-placeholder {
		display: none;
	}
}

@media screen and (max-width: 450px) {
	header .logo {
		display: none;
	}

	.topics-table .brand-logo {
		height: auto;

		img {
			max-width: 100%;
		}
	}

	.away {
		padding: 15px;
	}

	footer .welcome-menu a {
		display: block;
	}
}