@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
body {
  margin: 0;
  padding: 0;
  background-color: #F3F6F6;
  background-size: cover;
  min-width: 400px;
}

h1, h2, h3, h4, h5, h6,
p, a, ul {
  margin: 0;
  color: #0A0A0A;
}

h1 {
  font: 400 24px/32px "Roboto";
}

p {
  font: 300 16px/24px "Roboto";
}

a {
  width: fit-content;
  font: 300 16px/24px "Roboto";
  text-decoration: none;
  transition: color 0.5s;
}
a:hover {
  color: #0996B2;
}

i {
  color: #3C3C3C;
}

ul {
  padding-left: 20px;
}

table {
  border-collapse: collapse;
}

hr {
  border-top: 1px solid #EBEBEB;
  border-bottom: none;
}

.button, .primary-button, .primary-icon-button, .topic-management .page-menu-toggle, .primary-text-button, .light-button, .light-text-button, .answer .footer .buttons .counter-button, .light-icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: background-color 0.5s;
  border: none;
  outline: none;
  cursor: pointer;
  font: 300 14px/14px "Roboto";
  user-select: none;
}

.icon-button, .primary-icon-button, .topic-management .page-menu-toggle, .light-icon-button {
  width: 25px;
  height: 25px;
}

.text-button, .primary-text-button, .light-text-button, .answer .footer .buttons .counter-button {
  height: 35px;
  padding: 10px 20px;
  box-sizing: border-box;
}

.light-button, .light-text-button, .answer .footer .buttons .counter-button, .light-icon-button {
  background-color: #F5F5F5;
  color: #0A0A0A;
}
.light-button:hover, .light-text-button:hover, .answer .footer .buttons .counter-button:hover, .light-icon-button:hover {
  background-color: #E6E6E6;
  color: #0A0A0A;
}

.primary-button, .primary-icon-button, .topic-management .page-menu-toggle, .primary-text-button {
  background-color: #0996B2;
}
.primary-button, .primary-icon-button, .topic-management .page-menu-toggle, .primary-text-button, .primary-button i, .primary-icon-button i, .topic-management .page-menu-toggle i, .primary-text-button i {
  color: #FFFFFF;
}
.primary-button:hover, .primary-icon-button:hover, .topic-management .page-menu-toggle:hover, .primary-text-button:hover {
  background-color: #09B27A;
  color: #FFFFFF;
}

.wrapper {
  max-width: 1280px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  list-style: none;
  padding: 10px 0;
  display: none;
  flex-direction: column;
  gap: 5px;
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  user-select: none;
  z-index: 1;
}
.dropdown-menu.show {
  display: flex;
}
.dropdown-menu a {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 20px;
  text-wrap: nowrap;
  text-decoration: none;
  transition: background-color 0.5s;
}
.dropdown-menu a:hover {
  background-color: #F6F8F8;
  color: #0A0A0A;
}
.dropdown-menu hr {
  margin: 5px 20px;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -5px;
  margin-right: -7px;
  background-color: #0996B2;
  color: #FFFFFF;
  padding: 0 4px;
  border-radius: 7px;
  font: 500 10px/14px "Roboto";
}

.logo {
  line-height: 0;
}
.logo img {
  width: auto;
  height: 30px;
}

header {
  width: 100%;
  position: fixed;
  background-color: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  z-index: 1;
}
header .wrapper {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
header .menu-toggle {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  font-size: 20px;
}
header .dropdown-menu {
  margin-top: 20px;
}
header .navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  position: relative;
}
header .navigation #main-menu-toggle {
  font-size: 24px;
}
header .user {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
}
header .user .photo {
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
}
header .user #user-menu-toggle {
  font-size: 16px;
}
header #user-menu {
  right: 0;
}
header #user-menu .info {
  padding: 5px 20px;
}
header #user-menu .username {
  font: 400 16px/24px "Roboto";
  margin-bottom: 5px;
}
header #user-menu .account {
  font: 300 14px/18px "Roboto";
}
header #user-menu .account i {
  color: #09B27A;
  background: linear-gradient(90deg, #0996B2 0%, #09B27A 100%);
  background-clip: unset;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header #user-menu .account span {
  font: 400 14px/18px "Roboto";
}

main {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.page {
  min-height: calc(100vh - 60px);
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar ::-webkit-scrollbar, .topic-menu ::-webkit-scrollbar, .page-selector ::-webkit-scrollbar {
  width: 8px;
}
.sidebar ::-webkit-scrollbar-track, .topic-menu ::-webkit-scrollbar-track, .page-selector ::-webkit-scrollbar-track {
  background-color: #FAFAFA;
  border-radius: 4px;
}
.sidebar ::-webkit-scrollbar-thumb, .topic-menu ::-webkit-scrollbar-thumb, .page-selector ::-webkit-scrollbar-thumb {
  background: #E6E6E6;
  border-radius: 4px;
}

.sidebar {
  width: 360px;
}
.sidebar .content {
  width: 360px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 4px 4px 0 0;
  height: calc(100vh - 60px);
  background-color: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebar .events {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 100px;
  overflow-y: auto;
  padding-right: 5px;
}
.sidebar .event {
  border-radius: 4px;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.sidebar .event .photo, .sidebar .event .icon {
  width: 35px;
  height: 35px;
  border-radius: 4px;
}
.sidebar .event .photo {
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}
.sidebar .event .icon {
  background-color: rgba(80, 80, 80, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar .event .icon i {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.75);
}
.sidebar .event .info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sidebar .event .info a {
  font: 300 14px/18px "Roboto";
}
.sidebar .event .info a.user {
  color: #505050;
}
.sidebar .event .info a.user:hover {
  color: #0996B2;
}
.sidebar .event.event-answer {
  background-color: #FAFAFA;
}
.sidebar .event.event-answer .icon {
  display: none;
}
.sidebar .event.event-vote {
  background-color: #F6F8F8;
}
.sidebar .ad-placeholder:last-child {
  margin-top: auto;
}

.block, .related-topics, .answer, .topic-management, .topic-menu, .breadcrumbs, .summary, .topics-table, .welcome {
  border-radius: 4px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  background-color: #FFF;
}

.ad-placeholder {
  background-color: #F6F8F8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ad-placeholder img {
  height: 30px;
  filter: brightness(1.5) saturate(0);
}
.ad-placeholder.ad-small {
  height: 100px;
  min-height: 100px;
}
.ad-placeholder.ad-long {
  height: 70px;
  margin: 20px;
}
.ad-placeholder.ad-medium {
  height: 275px;
  min-height: 275px;
}

.welcome-menu {
  display: flex;
  gap: 40px;
}
.welcome-menu .column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
.welcome-menu .title {
  margin: 0;
  font: 400 16px/24px "Roboto";
}

.welcome .header {
  border-radius: 4px 4px 0 0;
  background: linear-gradient(90deg, #0996B2 0%, #09B27A 100%);
  padding: 15px 20px;
  color: #FFFFFF;
  margin: 0;
}
.welcome .welcome-menu {
  padding: 20px;
}

.topics-table .header {
  display: flex;
  justify-content: end;
  background-color: #FAFAFA;
}
.topics-table .header div {
  padding: 15px 20px;
  font: 300 16px/16px "Roboto";
  box-sizing: border-box;
}
.topics-table .category {
  padding: 15px 20px;
  background: linear-gradient(90deg, #0996B2 0%, #09B27A 100%);
  color: #FFFFFF;
  text-align: left;
  font: 300 16px/24px "Roboto";
}
.topics-table .category + .topic {
  border-top: none;
}
.topics-table .topic {
  border-top: 1px solid #EBEBEB;
  display: flex;
}
.topics-table .topic .info, .topics-table .topic .counter, .topics-table .topic .last-answer {
  padding: 20px;
}
.topics-table .topic .counter, .topics-table .topic .last-answer a {
  font: 300 14px/18px "Roboto";
}
.topics-table .topic .counter, .topics-table .topic .last-answer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #EBEBEB;
}
.topics-table .topic .counter .details, .topics-table .topic .last-answer .details {
  display: none;
}
.topics-table .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
.topics-table .info a.title {
  font: 400 16px/24px "Roboto";
}
.topics-table .counter {
  width: 100px;
  text-align: center;
  box-sizing: border-box;
}
.topics-table .last-answer {
  width: 125px;
  box-sizing: border-box;
}
.topics-table .last-answer a {
  display: block;
}
.topics-table .last-answer a.time {
  vertical-align: baseline;
  margin-top: 5px;
}
.topics-table .last-answer a i {
  transition: color 0.5s;
}
.topics-table .last-answer a:hover i {
  color: #0996B2;
}
.topics-table p {
  color: #505050;
}
.topics-table p.warning {
  color: #EB4747;
}
.topics-table .brand-logo {
  height: 45px;
}

.summary .header {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  border-bottom: 1px solid #EBEBEB;
}
.summary .content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.summary .content a {
  color: #505050;
  transition: color 0.5s;
}
.summary .content a.friend {
  color: #09B27A;
}
.summary .content a:hover {
  font: 400 16px/24px "Roboto";
}
.summary .content .row {
  display: flex;
  gap: 10px;
}
.summary .content .row .column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
.summary .content .details {
  color: #505050;
}

.away {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  box-sizing: border-box;
  padding: 30px;
}
.away .logo img {
  height: 45px;
}
.away .content {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.away p a {
  text-decoration: underline;
  word-break: break-all;
}
.away .buttons {
  display: flex;
  gap: 10px;
}

footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: linear-gradient(90deg, #0996B2 0%, #09B27A 100%);
  border-radius: 4px 4px 0 0;
  margin-top: auto;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}
footer .welcome-menu a:hover {
  font: 400 16px/24px "Roboto";
}
footer .logo img {
  filter: saturate(0) brightness(2);
}
footer p, footer a {
  color: #FFFFFF;
}
footer a:hover {
  color: #FFFFFF;
}
footer .copyright {
  margin: 0;
}

.breadcrumbs {
  padding: 15px 20px;
}
.breadcrumbs, .breadcrumbs div {
  font-size: 0;
}
.breadcrumbs div, .breadcrumbs p {
  display: inline-block;
}
.breadcrumbs p, .breadcrumbs a {
  font: 300 16px/16px "Roboto";
  line-height: 25px;
}
.breadcrumbs a, .breadcrumbs i {
  color: #505050;
}
.breadcrumbs a:hover {
  color: #0996B2;
}
.breadcrumbs i {
  font-size: 14px;
  margin: 0 5px;
}

.topic-menu .header {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.topic-menu ul {
  list-style: none;
  padding: 0;
  max-height: 230px;
  overflow-y: auto;
  display: none;
}
.topic-menu ul li {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  border-top: 1px solid #EBEBEB;
}
.topic-menu ul.show {
  display: block;
}

.topic-management {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.topic-management .navigation, .topic-management .actions {
  display: flex;
  gap: 10px;
}
.topic-management .light-icon-button, .topic-management .primary-icon-button, .topic-management .page-menu-toggle {
  width: 35px;
  height: 35px;
  font-size: 16px;
}
.topic-management .page-selector {
  position: relative;
}
.topic-management .page-menu-toggle {
  box-sizing: border-box;
  width: auto;
  height: 35px;
  padding: 10px;
  gap: 10px;
}
.topic-management .page-menu-toggle:active .pages {
  display: block;
}
.topic-management .page-menu {
  left: 0;
  margin-top: 10px;
  padding: 0;
  gap: 0;
  max-height: 174px;
  overflow-y: auto;
}
.topic-management .page-menu li:not(:last-child) {
  border-bottom: 1px solid #EBEBEB;
}

.answer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.answer .header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #EBEBEB;
}
.answer .header .author {
  display: flex;
  gap: 15px;
}
.answer .header .photo {
  width: 75px;
  height: 75px;
  border-radius: 4px;
  background-size: cover;
  background-position: center;
}
.answer .header .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.answer .header .username {
  font: 300 16px/16px "Roboto";
}
.answer .header .username .online {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #09B27A;
  margin-right: 5px;
}
.answer .header .icons {
  display: flex;
  gap: 5px;
}
.answer .header .icons .icon {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.answer .header .icons .icon i {
  color: #FFFFFF;
}
.answer .header .icons .icon.primary-icon {
  background-color: #0996B2;
}
.answer .header .icons .icon.secondary-icon {
  background-color: #09B27A;
}
.answer .header .icons .icon.gradient-icon {
  background: linear-gradient(90deg, #0996B2 0%, #09B27A 100%);
}
.answer .header .icons .icon.disabled-icon {
  background-color: #C8C8C8;
}
.answer .header .metrics {
  display: flex;
  gap: 10px;
}
.answer .header .metrics p {
  white-space: nowrap;
}
.answer .header .metrics p, .answer .header .metrics i {
  font: 300 14px/18px "Roboto";
  color: #505050;
}
.answer .header .metrics p i {
  margin-right: 5px;
}
.answer .header .answer-info {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5px;
  font: 300 14px/18px "Roboto";
}
.answer .header .answer-info div {
  white-space: nowrap;
}
.answer .header .answer-info i {
  margin-left: 5px;
}
.answer .header .answer-info .answer-id {
  font: 300 14px/18px "Roboto";
  color: #505050;
}
.answer .header .answer-info .answer-id:hover {
  color: #0996B2;
}
.answer .signature {
  padding-top: 20px;
  border-top: 1px solid #EBEBEB;
}
.answer .footer {
  padding-top: 20px;
  border-top: 1px solid #EBEBEB;
}
.answer .footer .actions {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.answer .footer .buttons {
  display: flex;
  gap: 10px;
}
.answer .footer .buttons .light-icon-button {
  width: 35px;
  height: 35px;
  font-size: 20px;
}
.answer .footer .buttons .counter-button {
  height: 35px;
  gap: 10px;
  padding: 0 10px;
}
.answer .footer .buttons .counter-button .fill-icon {
  display: none;
}
.answer .footer .buttons .counter-button.selected {
  background-color: #0996B2;
  color: #FFFFFF;
}
.answer .footer .buttons .counter-button.selected i {
  color: #FFFFFF;
}
.answer .footer .buttons .counter-button.selected:hover {
  background-color: #0996B2;
}
.answer .footer .buttons .counter-button.selected .fill-icon {
  display: block;
}
.answer .footer .buttons .counter-button.selected .simple-icon {
  display: none;
}
.answer .footer .likes {
  font-size: 0;
  margin-top: 10px;
}
.answer .footer .likes p, .answer .footer .likes a {
  display: inline;
  font: 300 14px/18px "Roboto";
}
.answer .footer .likes .hidden-likes {
  display: none;
}
.answer .footer .likes .hidden-likes.show {
  display: inline;
}

.related-topics {
  padding: 20px;
}
.related-topics .content {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}
.related-topics .content .topics {
  flex: 1;
}
.related-topics .content .topic {
  border-radius: 4px;
  background-color: #F6F8F8;
  padding: 20px;
}
.related-topics .content .topic .info {
  color: #505050;
  margin-top: 5px;
}
.related-topics .content .topic .info, .related-topics .content .topic .info a {
  font: 300 14px/18px "Roboto";
}
.related-topics .content .topic:not(:last-child) {
  margin-bottom: 10px;
}
.related-topics .content .ad-placeholder {
  width: 200px;
}

@media only screen and (max-width: 1080px) {
  header .wrapper, main.wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .welcome .header,
  .topics-table .category,
  .summray .header,
  .breadcrumbs,
  .topic-management,
  .topic-menu .header,
  .topic-menu ul li {
    padding: 10px 15px;
  }
  .welcome .welcome-menu,
  .related-topics {
    padding: 15px;
  }
  .welcome-menu {
    flex-direction: column;
    gap: 15px;
  }
  .welcome-menu .column {
    display: block;
    font-size: 0;
  }
  .welcome-menu .column a:not(:last-child) {
    margin-right: 10px;
  }
  .welcome-menu .title {
    display: block;
  }
  .welcome-menu a {
    display: inline-block;
  }
  .block .welcome-menu a:not(:last-child), .welcome .welcome-menu a:not(:last-child), .topics-table .welcome-menu a:not(:last-child), .summary .welcome-menu a:not(:last-child), .breadcrumbs .welcome-menu a:not(:last-child), .topic-menu .welcome-menu a:not(:last-child), .topic-management .welcome-menu a:not(:last-child), .answer .welcome-menu a:not(:last-child), .related-topics .welcome-menu a:not(:last-child) {
    margin-right: 5px;
  }
  .block .welcome-menu a, .welcome .welcome-menu a, .topics-table .welcome-menu a, .summary .welcome-menu a, .breadcrumbs .welcome-menu a, .topic-menu .welcome-menu a, .topic-management .welcome-menu a, .answer .welcome-menu a, .related-topics .welcome-menu a {
    padding: 5px 10px;
    background-color: #F6F8F8;
    border-radius: 4px;
    margin-top: 5px;
    transition: background-color 0.5s;
    font: 300 14px/18px "Roboto";
  }
  .block .welcome-menu a:hover, .welcome .welcome-menu a:hover, .topics-table .welcome-menu a:hover, .summary .welcome-menu a:hover, .breadcrumbs .welcome-menu a:hover, .topic-menu .welcome-menu a:hover, .topic-management .welcome-menu a:hover, .answer .welcome-menu a:hover, .related-topics .welcome-menu a:hover {
    background-color: #E6E6E6;
    color: #0A0A0A;
  }
  .ad-placeholder.ad-long {
    margin: 15px;
  }
  .topics-table .header {
    display: none;
  }
  .topics-table .topic {
    flex-direction: column;
    padding: 15px;
  }
  .topics-table .topic .info {
    gap: 5px;
  }
  .topics-table .topic .info:not(:last-child) {
    margin-bottom: 5px;
  }
  .topics-table .topic .info, .topics-table .topic .counter, .topics-table .topic .last-answer {
    padding: 0;
    border-left: none;
    width: fit-content;
  }
  .topics-table .topic .counter, .topics-table .topic .last-answer {
    flex-direction: row;
    margin-top: 5px;
    color: #505050;
    font: 300 14px/18px "Roboto";
  }
  .topics-table .topic .counter .details, .topics-table .topic .last-answer .details {
    display: inline;
  }
  .topics-table .topic .last-answer .time {
    margin-top: 0;
  }
  .topics-table .topic .last-answer i {
    display: none;
  }
  .summary .content {
    padding: 15px;
    gap: 5px;
  }
  .summary .content .row {
    flex-direction: column;
    gap: 5px;
  }
  .summary .content .row .column {
    gap: 5px;
  }
  .answer {
    padding: 15px;
    gap: 15px;
  }
  .answer .header {
    gap: 15px;
    padding-bottom: 15px;
  }
  .answer .signature, .answer .footer {
    padding-top: 15px;
  }
  .related-topics .content {
    margin-top: 10px;
  }
  .related-topics .content .topic {
    padding: 15px;
  }
  footer {
    padding: 15px;
    gap: 15px;
  }
}
@media screen and (max-width: 900px) {
  header .wrapper, main.wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  .sidebar {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .answer .header {
    flex-direction: column-reverse;
  }
  .answer .header .photo {
    width: 50px;
    height: 50px;
  }
  .answer .header .answer-info {
    padding-bottom: 15px;
    border-bottom: 1px solid #EBEBEB;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .answer .header .metrics {
    margin-left: -65px;
  }
  .related-topics .content .ad-placeholder {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  header .logo {
    display: none;
  }
  .topics-table .brand-logo {
    height: auto;
  }
  .topics-table .brand-logo img {
    max-width: 100%;
  }
  .away {
    padding: 15px;
  }
  footer .welcome-menu a {
    display: block;
  }
}